{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/jquery.datetimepicker.min.css' %}">
{% endblock css %}
{% block content %}
    {% if erro %}
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-times"></i>
            <strong>Erro!</strong> {{ erro }}
        </div>
    {% endif %}
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"data-widget-togglebutton="false"                    data-widget-deletebutton="false" data-widget-sortable="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-files-o"></i> </span>
                        <h2><strong>Atividades</strong></h2>
                    </header>
                    <!-- widget div-->
                    <div>
    
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
    
                        </div>
                        <!-- end widget edit box -->
    
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            {% if not edit %}
                            <form action="{% url 'atividades:cadastrar' turma.codigo %}" method="post" class="smart-form">
                            {% else %}
                            <form action="{% url 'atividades:editar' atividade.id %}" method="post" class="smart-form">
                            {% endif %}
                                {% csrf_token %}
                                <header>
                                    Cadastrar Atividade
                                </header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            {{ form.atividade.errors }}
                                            <label class="input" for="{{ form.atividade.id_for_label }}">
                                                <i class="icon-prepend fa fa-file-text"></i>
                                                {{ form.atividade }}
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            {{ form.disciplina.errors }}
                                            <label class="input" for="{{ form.disciplina.id_for_label }}">
                                                <i class="icon-prepend fa fa-book"></i>
                                                {{ form.disciplina }}
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            {{ form.valor.errors }}
                                            <label class="input" for="{{ form.valor.id_for_label }}">
                                                <i class="icon-prepend fa fa-pencil"></i>
                                                {{ form.valor }}
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            {{ form.data_entrega.errors }}
                                            <label class="input" for="{{ form.data_entrega.id_for_label }}">
                                                <i class="icon-prepend fa fa-calendar"></i>{{ form.data_entrega }}
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            {{ form.observacoes.errors }}
                                            <label class="input" for="{{ form.observacoes.id_for_label }}">
                                                <i class="icon-prepend fa fa-calendar"></i>
                                                {{ form.observacoes }}
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Enviar
                                    </button>
                                    {% if edit %}
                                    <a href="{% url 'atividades:atividade' atividade.id %}" class="btn btn-default">
                                        Voltar
                                    </a>
                                    {% else %}
                                    <a href="{% url 'turmas:turma' turma.codigo %}" class="btn btn-default">
                                        Voltar
                                    </a>
                                    {% endif %}
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/plugin/summernote/summernote.min.js' %}"></script>
    <script src="{% static 'js/plugin/summernote/lang/summernote-pt-BR.js' %}"></script>
    <script src="{% static 'js/plugin/clockpicker/clockpicker.min.js' %}"></script>
    <script src="{% static 'js/plugin/datepicker/i18n/datepicker-pt-BR.js' %}"></script>
    <script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        
        $(document).ready(function() {
            
            pageSetUp();

            $('.clockpicker').clockpicker({
                placement: 'top',
                align: 'left',
                autoclose: true,
            });
            $( "#id_data_entrega_0" ).datepicker({ 
                minDate: 0, 
                reginal: "pt-BR",
            });

            $('#id_atividade').focus();

            $('.summernote').summernote({
                focus: false,
                dialogsInBody: true,
                lang: 'pt-BR',
                maximumImageFileSize: 1048576, // tamanho máximo da imagem
            });
            
            $('form').submit(function(e) {
                var markupStr = $('.summernote').summernote('code');
                $('#id_observacoes').html(markupStr);
            });
        });
    </script>
{% endblock javascript %}