{% extends "base.html" %}
{% load static %}

{% block content %}
	<!-- widget grid -->
	<section id="widget-grid" class="">

		<!-- row -->
		<div class="row">
		
			<!-- NEW WIDGET START -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"data-widget-togglebutton="false"					data-widget-deletebutton="false" data-widget-sortable="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-group"></i> </span>
						<h2>Lista de Turmas</h2>
	
					</header>
					<!-- widget div-->
					<div>
	
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->
	
						</div>
						<!-- end widget edit box -->
	
						<!-- widget content -->
						<div class="widget-body no-padding">
	
							<table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
								<thead>			                
									<tr>
										<th data-hide="phone">C&oacute;digo</th>
										<th data-class="expand"><i class="fa fa-fw fa-group text-muted hidden-md hidden-sm hidden-xs"></i> Turma</th>
										<th><i class="fa fa-fw fa-book text-muted hidden-md hidden-sm hidden-xs"></i> Atividades</th>
										<th data-hide="phone,tablet">Data de Cria&ccedil;&atilde;o</th>
									</tr>
								</thead>
								<tbody>
									{% for turma in ultimas_turmas %}
									<tr>
										<td>{{ turma.codigo }}</td>
										<td><a href="{% url 'turmas:turma' turma.codigo %}">{{ turma.nome }}</a></td>
										<td>{{ turma.curso }} {{ turma.ano }}, {{ turma.turno }} </td>
										<td>{{ turma.data_cadastro }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
						<!-- end widget content -->
	
					</div>
					<!-- end widget div -->
				</div>
			</article>
		</div>
	</section>
{% endblock content %}

{% block javascript %}

	<!-- JARVIS WIDGETS -->
	<script src="{% static 'js/smartwidgets/jarvis.widget.min.js' %}"></script>
	<!-- PAGE RELATED PLUGIN(S) -->
	<script src="{% static 'js/plugin/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/plugin/datatables/dataTables.colVis.min.js' %}"></script>
	<script src="{% static 'js/plugin/datatables/dataTables.tableTools.min.js' %}"></script>
	<script src="{% static 'js/plugin/datatables/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static 'js/plugin/datatable-responsive/datatables.responsive.min.js' %}"></script>

	<script>
		
		// DO NOT REMOVE : GLOBAL FUNCTIONS!
		
		$(document).ready(function() {
			
			pageSetUp();
			
			var responsiveHelper_dt_basic = undefined;

			var breakpointDefinition = {
					tablet : 1024,
					phone : 480
				};
	
			$('#dt_basic').dataTable({
				"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
					"t"+
					"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
				"autoWidth" : true,
		        "oLanguage": {
				    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
				},
				"preDrawCallback" : function() {
					// Initialize the responsive datatables helper once.
					if (!responsiveHelper_dt_basic) {
						responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
					}
				},
				"rowCallback" : function(nRow) {
					responsiveHelper_dt_basic.createExpandIcon(nRow);
				},
				"drawCallback" : function(oSettings) {
					responsiveHelper_dt_basic.respond();
				}
			});
		});
	</script>
{% endblock javascript %}